.toy-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    background-color: #e9ced7;
    margin-bottom:20px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    .img-toy{
        object-fit: cover;
        aspect-ratio: 1 / 1;
        width: 13em;        
    }
    .toy-name{
        margin-top: 3em;
        font-family: Robotto;
    }
    .price-wrapper{
        border-radius: 10px;
        padding: 5px;
        background-color: aliceblue;
        position: absolute;
        top: 7px;
        right: 7px;
        font-family: Robotto;
    }
    .in-stock-wrapper{
        position: absolute;
        top: 7px;
        left: 7px;
        font-family: Robotto;
    }
}
.car-preview h4{
    text-transform: capitalize;
    color: black;
}

.car-preview img {
    max-width: 100px;
}