.toy-filter {
//  @include for-wide-layout{
  border-radius: 5px;
  border: 1px solid gray;
  border-style: none;
  padding: em(15px);
  box-shadow: 1px 4px 8px rgba(92, 92, 92, 0.55);
  margin-top: em(50px);

   .form-filter{
    @include for-narrow-layout {
        grid-template-columns: repeat(3,1fr);
        gap: em(30px);
        .input-filter-name{
            border-radius: 4px;
            border: 1px solid #bebebe;
            padding-left: em(13px);
            line-height: 23px;
            font-size: 1rem;
    }
    }

    @include for-normal-layout {
        display: flex;
        flex-direction: column;
    }
    .input-filter-name{
      padding: 13px;
    }
   }
   

     
}

