
  $clr1bg: #94d2bd;
  $clr1bg-light: #c1f1e1;
  $clr2bg:  #e9ced7;
  $clr3bg: darken($clr2bg, 20%);
  $clr2bg-dark: darken($clr2bg, 40%);
  $clr3: #ffffff;
  $layoutPadding: 20px;


  $break-narrow: 850px;
  $break-normal: 900px;
  $break-wide: 1920px;

  $gray1: rgb(240, 240, 240);
  $gray2: rgb(155, 155, 155);
  $gray3: rgb(44, 44, 44);
